<ng-container *ngIf="selectedCar">
  <div class="car-details">
    <h2>{{ selectedCar.fullName }}</h2>
    <h3>{{ selectedCar.clientName }}</h3>
    <p-button
      class="qrcode-button"
      icon="pi pi-qrcode"
      (onClick)="toggleQrcodeVisibility()"
    ></p-button>
    <div class="qrcode-container" *ngIf="isQrcodeVisible">
      <qr-code [value]="url" size="300" errorCorrectionLevel="M"></qr-code>
    </div>
  </div>
  <app-service-histories [carId]="selectedCar.id"></app-service-histories>
</ng-container>
