<div class="service-history-form">
  <div>
    <h5>Klient</h5>
    <p-autoComplete
      [suggestions]="filteredClients"
      (completeMethod)="filterClients($event)"
      (onSelect)="selectClient($event)"
      field="name"
      [dropdown]="true"
    >
    </p-autoComplete>
  </div>

  <div *ngIf="!!selectedClient">
    <h5>Samochód klienta</h5>
    <p-autoComplete
      [(ngModel)]="selectedClientCar"
      [suggestions]="filteredClientCars"
      (completeMethod)="filterCars($event)"
      (onSelect)="selectCar($event)"
      field="fullName"
      [dropdown]="true"
    >
    </p-autoComplete>
  </div>

  <button
    pButton
    type="button"
    label="Otwórz historię auta"
    *ngIf="!!selectedClientCar"
    (click)="moveToCarHistory()"
  ></button>
</div>

<app-service-histories
  *ngIf="!!selectedClientCar"
  [carId]="selectedClientCar.id"
></app-service-histories>
